<h2> Here is your current user information</h2>
<h3>Username:</h3><%= @user.username %>
<br />
<h3>Email:</h3><%= @user.email %>

<br />
<br />
<a href="/users/<%=@user.id/edit">Change your password</a>
