<h2>Enter a new address</h2>
<form action="/addresses" method="post">
  <input type="text" name="[address]first_name" placeholder="First Name" />
  <br />
  <br />
  <input type="text" name="[address]last_name" placeholder="Last Name" />
  <br />
  <br />
  <input type="text" name="[address]address1" placeholder="Address" />
  <br />
  <br />
  <input type="text" name="[address]address2" placeholder="Unit or P.O. Box" />
  <br />
  <br />
  <input type="text" name="[address]city" placeholder="City" />
  <br />
  <br />
  <input type="text" name="[address]state" placeholder="State" />
  <br />
  <br />
  <input type="text" name="[address]zipcode" placeholder="Zipcode" />
  <br />
  <br />
  <input type="phone" name="[address]phone_number" placeholder="Phone Number 1234567890" />
  <br />
  <br />
  <input type="email" name="[address]email_address" placeholder="Email" />
  <br />
  <br />
  <textarea rows="4" cols="50" name="[address]comments" placeholder="Enter your comments here"></textarea>
  <br />
  <br />
  <input type="submit" name="submit" value="Submit" />
</form>
