
<h2>Welcome to the Rolodex, please sign up!</h2>

<form action="/signup" method="post">
  <input type="text" placeholder="Username" name="username"/>
  <br />
  <br />
  <input type="text" placeholder="Email" name="email" />
  <br />
  <br />
  <input type="password" placeholder="Password" name="password" />
  <br />
  <br />
  <input type="submit" name="submit" value="Submit" />

</form>
