<div class="container">

  <div class="col-md-8 col-md-offset-2">


    <div class="content">
      <p>Welcome to the Rolodex where you can store information regarding your contacts such as:</p>
      <ul>
        <li>First and Last name</li>
        <li>Address</li>
        <li>Phone Number</li>
        <li>Email address</li>
        <li>Comments</li>
      </ul>
    </div>



  </div>
</div>
